
<div class="row">
    <div class="form-group col-12 col-sm-6">
        <label for="name">Name</label>
        <input class="form-control" type="text" value="{{form.name}}" ng-model="form.name">
    </div>
    <div class="form-group col-12 col-sm-6">
        <label for="name">Sport</label>
        <input class="form-control" type="text" value="{{form.sport}}" ng-model="form.sport">
    </div>
    <div class="form-group col-12 col-sm-6">
        <label for="nationality">Nationality</label>
        <input id="nationality" class="form-control" type="text" value="{{form.nationality}}" ng-model="form.nationality">
    </div>
    <div class="form-group col-12 col-sm-6">
        <label for="gender">Gender</label>
        <select id="" class="form-control" ng-model="form.gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </div>
    <div class="form-group col-12 col-sm-6">
        <label for="name">Date of birth</label>
        <input class="form-control" type="date" value="{{form.dob}}" ng-model="form.dob">
    </div>
</div>

