<div class="row">
    <div class="form-group col-12 col-sm-6">
        <label for="name">Facebook</label>
        <input class="form-control" type="text" value="{{form.facebook}}" ng-model="form.facebook">
    </div>
    <div class="form-group col-12 col-sm-6">
        <label for="name">Instagram</label>
        <input class="form-control" type="text" value="{{form.instagram}}" ng-model="form.instagram">
    </div>
    <div class="form-group col-12 col-sm-6">
        <label for="name">Twitter</label>
        <input class="form-control" type="text" value="{{form.twitter}}" ng-model="form.twitter">
    </div>
</div>


